* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  color: black;
}

h1,
#designed-by {
  text-align: center;
}

.style1 {
  background-color: #8301fd;
}

.style2 {
  background-color: #01013a;
}

.style3 {
  background-color: #056605;
}

.style4 {
  background-color: #03ff18;
}

.style5 {
  background-color: #050500;
}

.style6 {
  background-color: #570ae7;
}

/* SETTING THE COLOR OF THE BOX TEXT */
.tiles .box-wrapper > a {
  color: white;
}
